/*  */
/* all devices */
/*  */


/* font rules  */
@font-face {
    font-family: 'Canela';
    src: url('fonts/Canela-Medium.eot');
    src: url('fonts/Canela-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Canela-Medium.woff2') format('woff2'),
        url('fonts/Canela-Medium.woff') format('woff'),
        url('fonts/Canela-Medium.ttf') format('truetype'),
        url('fonts/Canela-Medium.svg#Canela-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Calibre';
    src: url('fonts/Calibre-Regular.eot');
    src: url('fonts/Calibre-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Calibre-Regular.woff2') format('woff2'),
        url('fonts/Calibre-Regular.woff') format('woff'),
        url('fonts/Calibre-Regular.ttf') format('truetype'),
        url('fonts/Calibre-Regular.svg#Calibre-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Calibre';
    src: url('fonts/Calibre-Medium.eot');
    src: url('fonts/Calibre-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Calibre-Medium.woff2') format('woff2'),
        url('fonts/Calibre-Medium.woff') format('woff'),
        url('fonts/Calibre-Medium.ttf') format('truetype'),
        url('fonts/Calibre-Medium.svg#Calibre-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.eot');
    src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-Regular.woff2') format('woff2'),
        url('fonts/Lato-Regular.woff') format('woff'),
        url('fonts/Lato-Regular.ttf') format('truetype'),
        url('fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* background color */
body {
    background: #F9F9F9;
}




/* text */
h1 {
    font-family: Canela;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 41.6px; /* or 130% */
    color: #1A2A33; /* black-4 */
    margin: 0px;
}

h2 {
    font-family: Canela;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px; /* identical to box height */
    color: #1A2A33; /* black-4 */
    margin: 0px;
}

h3 {
    font-family: Canela;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px; /* identical to box height */
    color: #1A2A33; /* black-4 */
    margin: 0px;
}

h4 {
    font-family: Calibre;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px; /* identical to box height, or 150% */
    color: #3B4950; /* black-3 */
    margin: 0px;
}

h5 {
    font-family: Calibre;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: uppercase; /* black-1 */
    color: #A3A9AD;
    margin: 0px;
}

/* Design & code by Dylan McAdam © 2021 */
h6 {
    font-family: Calibre;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 12px; /* identical to box height */
    text-align: right;
    color: #3B4950; /* black-3 */
}

p {
    font-family: Calibre;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px; /* or 150% */
    color: #3B4950; /* black-3 */
    margin: 0px;
}

ul {
    font-family: Calibre;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px; /* or 150% */
    color: #3B4950; /* black-3 */
    margin: 0px;
}

b {
    font-family: Calibre;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px; /* or 150% */
    color: #3B4950; /* black-3 */
    margin: 0px;
}





/* header */

/* logo */
#logo {
    width: 50px;
    height: 50px;
}

/* resume & contact */
.shortcut {
    font-family: Calibre;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    text-transform: uppercase; /* black-3 */
    color: #3B4950;
    transition: all 0.5s ease-out;
}

/* remove link underline for resume & contact */
.shortcut:link {
    text-decoration: none;
}
.shortcut:visited {
text-decoration: none;
}
.shortcut:hover {
text-decoration: none;
}
.shortcut:active {
text-decoration: none;
}

/* resume & contact get dark on hover */
.shortcut:hover {
    color: #1A2A33; /* black-4 */
    font-size: 16.32px; /* transform: scale(1.02) wouldn't work */
    transition: all 0.5s ease-out;
}





/* footer */

/* footer divider */
footer hr {
    border: 1px solid #E8E9EA;
}

/* social media icons */
footer svg {
    fill: #3B4950; /* black-3 */
    transition: all 0.5s ease-out;
}

/* centering the shortcuts with the logo */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

/* spacing the shortcuts */
.shortcut {
    margin-left: 32px;
}

/* footer spacing */
footer {
    grid-column: 1 / 5;
    grid-row: 8 / 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    height: 108px;
}
footer hr {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 32px;
}
#linkedin {
    width: 32px;
    height: 32px;
    margin-right: 24px;
}
#twitter {
    width: 32px;
    height: 32px;
    margin-left: 24px;
}
footer nav {
    display: flex;
    justify-content: center;
}
footer h6 {
    margin-top: 32px;
    margin-bottom: 0px;
}

/* remove link underline for icons */
footer a:link {
    text-decoration: none;
}
footer a:link {
text-decoration: none;
}
footer a:link {
text-decoration: none;
}
footer a:link {
text-decoration: none;
}

/* linkedin & twitter icons get dark on hover */
footer svg:hover {
    fill: #1A2A33; /* black-4 */
    transform: scale(1.05);
    transition: all 0.5s ease-out;
}



/* css grid */
.grid-container {
    display: grid;
    max-width: 100%;
    margin: 16px 5% 32px 5%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (8, auto);
    column-gap: 16px;
    row-gap: 64px;
}

img {
    width: 100%;
}



/* cover */
.cover {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #EBE6F2 0%, #E6EEF2 100%);
    border-radius: 10px;
}

.cover .two {
    margin: 50px 24px 40px 24px;
    display: flex;
    flex-direction: column;
}

.cover .two > * + * { margin-top: 32px;}

.cover .three {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.cover .three h1 {
    margin: 0px 0px 8px 0px;
}

.cover .four {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cover .one .two .four > * + * { margin-left: 35px;}

.cover .five {
    display: flex;
    flex-direction: column;
}

.cover h5 {
    margin: 0px 0px 8px 0px;
}

.cover .seven {
    margin: 0px 0px 32px 0px;
}

.cover .eight {
    display: none;
}


/* introduction */
.introduction {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    margin-top: 56px;
}

.introduction > * + * { margin-top: 48px;}

.introduction h5 {
    margin: 0px 0px 16px 0px;
}



/* research */
.research {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    background: linear-gradient(180deg, #EBE6F2 0%, #E6EEF2 100%);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.research .one {
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;
    margin: 56px 5% 56px 5%;
}

.research .one > * + * { margin-top: 48px;}

.research h5 {
    margin: 0px 0px 16px 0px;
}

.research img {
    margin: 16px 0px 0px 0px;
    border-radius: 10px;
}




/* design */
.design {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
    display: flex;
    flex-direction: column;
}

.design > * + * { margin-top: 48px;}

.design h5 {
    margin: 0px 0px 16px 0px;
}

.design .two {
    display: flex;
    flex-direction: column;
}

.design .one .two > * + * { margin-top: 48px;}

.design .two img {
    width: 75%;
    margin: 0px auto 0px auto;
    height: 100%;
}

.design .three img {
    margin: 24px 0px 0px 0px;
    border-radius: 10px;
}

.design .six {
    display: flex;
    flex-direction: column;
}

.design .six > * + * { margin-top: 48px;}

.design .six img {
    width: 75%;
    display: block;
    margin: 24px auto 0px auto;
}




/* conclusion */
.conclusion {
    grid-column: 1 / 5;
    grid-row: 6 / 7;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    background: linear-gradient(180deg, #EBE6F2 0%, #E6EEF2 100%);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.conclusion .one {
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;
    margin: 56px 7% 56px 7%;
}

.conclusion .one > * + * { margin-top: 48px;}

.conclusion h5 {
    margin: 0px 0px 16px 0px;
}




/* other case studies */
.other {
    grid-column: 1 / 5;
    grid-row: 7 / 8;
    display: flex;
    flex-direction: column;
}

.other > * + * { margin-top: 24px;}

.other h5 {
    text-align: center;
}

.other .one {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* .other .one > * + * { margin-left: 28px;} */

.other .one a {
    font-family: Canela;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px; /* identical to box height */
    color: #3B4950; /* black-3 */
    transition: all 0.5s ease-out;
    text-align: center;
}

/* remove underline link from other case studies */
.other .one a:link {
    text-decoration: none;
}
.other .one a:visited {
text-decoration: none;
}
.other .one a:hover {
text-decoration: none;
}
.other .one a:active {
text-decoration: none;
}

.other .one a:hover {
    color: #1A2A33; /* black-4 */
    transform: scale(1.02);
    transition: all 0.5s ease-out;
}
.other .one a:nth-child(1):hover {
    color: #1258BB;
}
.other .one a:nth-child(2):hover {
    color: #BF4F16;
}





/* modal background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: disabled; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* modal content */
.modal-content {
    background-color: #F9F9F9;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 32px 32px 32px 32px;
    width: 274.5px; /* Could be more or less, depending on screen size */
    border-radius: 4px;
    position: relative;
}

/* close button */
.close, .close2 {
    color: #aaa;
    font-size: 28px;
    position: absolute;
    top: 4px;
    right: 12px;
}

.close:hover, .close:focus, .close2:hover, .close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content .password, .modal-content .password2 {
    width: 100%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #3B4950; /* black-3 */
}

.modal-content .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0px 20px 0px;
}

.modal .modal-content .title > * + * { margin-left: 12px;}

.modal-content .title p {
    font-family: Canela;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px; /* identical to box height */
    color: #1A2A33; /* black-4 */
    margin: 6px 0px 0px 0px;
}

.error {
    border-color: #CD2622;
}

input {
    padding: 0.6rem;
    border-radius: 0.25rem;
    border: 1px solid #dadadd;
    background-color: #ffffff;
    transition: 0.6s;
}

.modal-content svg {
    width: 20px;
    height: auto;
}



figure {
    margin: 0px;
}
figcaption {
    font-family: Calibre;
    font-style: normal;
    font-size: 16px;
    line-height: 24px; /* or 150% */
    font-style: italic;
    margin-top: 16px;
    text-align: center;
    color: #5F6A70;
}


/* unvisited link */
p a:link {
    color: #005ea2;
}

/* visited link */
p a:visited {
    color: #54278f;
}

/* mouse over link */
p a:hover {
    color: #1a4480;
}
  
/* selected link */
p a:active {
    color: #162e51;
}









/*  */
/* tablet (600px-899px) */
/*  */
@media (min-width: 600px) {

    /* css grid */
    .grid-container {
        display: grid;
        max-width: 100%;
        margin: 16px 2.66% 40px 2.66%;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat (8, auto);
        column-gap: 5%;
        row-gap: 80px;
    }

    


    /* text */
    h1 {
        font-family: Canela;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 52px; /* or 130% */
        color: #1A2A33; /* black-4 */
        margin: 0px;
    }

    h2 {
        font-family: Canela;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 32px; /* identical to box height */
        color: #1A2A33; /* black-4 */
        margin: 0px;
    }

    h3 {
        font-family: Canela;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 22px; /* identical to box height */
        color: #1A2A33; /* black-4 */
        margin: 0px;
    }

    h4 {
        font-family: Calibre;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px; /* identical to box height, or 150% */
        color: #3B4950; /* black-3 */
        margin: 0px;
    }

    h5 {
        font-family: Calibre;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.05em;
        text-transform: uppercase; /* black-1 */
        color: #A3A9AD;
        margin: 0px;
    }

    /* Design & code by Dylan McAdam © 2021 */
    h6 {
        font-family: Calibre;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 12px; /* identical to box height */
        text-align: right;
        color: #3B4950; /* black-3 */
    }

    p {
        font-family: Calibre;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px; /* or 150% */
        color: #3B4950; /* black-3 */
        margin: 0px;
    }

    ul {
        font-family: Calibre;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px; /* or 150% */
        color: #3B4950; /* black-3 */
        margin: 0px;
    }

    b {
        font-family: Calibre;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px; /* or 150% */
        color: #3B4950; /* black-3 */
        margin: 0px;
    }






    /* header  */
    header {
        grid-column: 1 / 9;
    }
    .shortcut {
        font-size: 16px;
        line-height: 19px;
    }
    #logo {
        width: 75px;
        height: 75px;
    }


    /* footer */
    footer {
        grid-column: 1 / 9;
        height: 80px;
    }
    footer hr {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 48px;
    }
    footer hr {
        width: 100%;
        margin-bottom: 40px;
    }
    footer nav {
        display: flex;
        align-items: center;
    }
    #linkedin {
        width: 32px;
        height: 32px;
        margin-right: 24px;
    }
    #twitter {
        width: 32px;
        height: 32px;
        margin-left: 24px;
    }
    footer div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    footer h6 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h6 {
        font-size: 16px;
    }






    /* cover */
    .cover {
        grid-column: 1 / 9;
        grid-row: 2 / 3;
    }
    .cover .one {
        display: flex;
        flex-direction: row;
        margin: 50px 0px 50px 24px;
    }

    .cover .seven {
        width: 50%;
        height: auto;
        object-fit: contain;
    }

    .cover .two {
        justify-content: center;
    }





    /* introduction */
    .introduction {
        grid-column: 1 / 9;
        grid-row: 3 / 4;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }

    .introduction > * + * { margin-top: 48px;}



    /* research */
    .research {
        grid-column: 1 / 9;
    }




    /* design */
    .design {
        grid-column: 1 / 9;
    }
    .design .two {
        display: flex;
        flex-direction: row;
    }
    .design .one .two > * + * { margin-left: 16px;}
    .design .two img {
        min-width: 0
    }
    .design .seven {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .design .four .six .seven > * + * { margin-left: 56px;}
    .design .seven img {
        min-width: 40%;
    }
    .design .eight {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .design .four .six .eight > * + * { margin-right: 56px;}
    .design .eight img {
        order: -1;
        min-width: 25%;
    }
    .design .nine {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .design .four .six .nine > * + * { margin-left: 56px;}
    .design .nine img {
        min-width: 40%;
    }





    /* conclusion */
    .conclusion {
        grid-column: 1 / 9;
    }




    /* other case studies */
    .other {
        grid-column: 1 / 9;
    }
    .other .one > * + * { margin-left: 50px;}
    .other .one {
        padding-left: 35px;
    }
    .other .one a {
        font-size: 24px;
        line-height: 24px; /* identical to box height */
    }



    /* modal content */
    .modal-content {
        width: 350px; /* Could be more or less, depending on screen size */
    }

    .modal-content .title {
        margin: 0px 0px 24px 0px;
    }

    .modal-content .password, .modal-content .password2 {
        font-size: 18px;
        line-height: 18px;
    }

    .modal-content .title p {
        font-size: 24px;
        line-height: 24px; /* identical to box height */
    }

    .modal-content svg {
        width: 24px;
        height: auto;
    }

}











/*  */
/* desktop (900px - ) */
/*  */
@media (min-width: 900px) {


    /* css grid */
    .grid-container {
        display: grid;
        max-width: 852px;
        margin: 24px auto 48px auto;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat (8, auto);
        column-gap: 24px;
        row-gap: 96px;
    }





    /* text */
    h1 {
        font-family: Canela;
        font-style: normal;
        font-weight: 500;
        font-size: 57px;
        line-height: 74.1px; /* or 130% */
        color: #1A2A33; /* black-4 */
        margin: 0px;
    }

    h2 {
        font-family: Canela;
        font-style: normal;
        font-weight: 500;
        font-size: 45px;
        line-height: 45px; /* identical to box height */
        color: #1A2A33; /* black-4 */
        margin: 0px;
    }

    h3 {
        font-family: Canela;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 32px; /* identical to box height */
        color: #1A2A33; /* black-4 */
        margin: 0px;
    }

    h4 {
        font-family: Calibre;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 33px; /* identical to box height, or 150% */
        color: #3B4950; /* black-3 */
        margin: 0px;
    }

    h5 {
        font-family: Calibre;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.05em;
        text-transform: uppercase; /* black-1 */
        color: #A3A9AD;
        margin: 0px;
    }

    /* Design & code by Dylan McAdam © 2021 */
    h6 {
        font-family: Calibre;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px; /* identical to box height */
        text-align: right;
        color: #3B4950; /* black-3 */
    }

    p {
        font-family: Calibre;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 33px; /* or 150% */
        color: #3B4950; /* black-3 */
        margin: 0px;
    }

    ul {
        font-family: Calibre;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 33px; /* or 150% */
        color: #3B4950; /* black-3 */
        margin: 0px;
    }

    b {
        font-family: Calibre;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 33px; /* or 150% */
        color: #3B4950; /* black-3 */
        margin: 0px;
    }







    /* header */
    header {
        display: flex;
        justify-content: space-between;
        grid-column: 1 / 13;
    }
    .shortcut {
        font-size: 16px;
        line-height: 19px;
    }





    /* footer */
    footer {
        grid-column: 1 / 13;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 80px;
    }
    footer hr {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 48px;
    }




    /* cover */
    .cover {
        grid-column: 1 / 13;
        grid-row: 2 / 3;
    }
    .cover .one {
        display: flex;
        flex-direction: row;
        margin: 50px 0px 50px 73px;
    }

    .cover .seven {
        width: 50%;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .cover .two {
        justify-content: center;
        margin-left: 0px;
    }

    .cover .two > * + * { margin-top: 48px;}

    .cover .eight {
        display: block;
    }

    .cover .seven {
        display: none;
    }

    .cover .eight {
        width: 296px;
        margin-right: 65px;
    }

    .cover .nine {
        width: 175px;
        margin: 0px 0px 6px 150px;
    }

    .cover .ten {
        width: 297px;
        height: 600px;
        overflow: hidden;
        border-radius: 31px;
        -webkit-transform: translateZ(0);
    }

    .cover .iframe {
        position: relative;
        border: none;
        top: -112px;
        left: -515px;
        width: 1317px;
        height: 824px;

    }

    .cover .eleven {
        display: flex;
        justify-content: center;
        margin: 16px 0px 0px 0px;
        font-family: Calibre;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px; /* or 150% */
        color: #3B4950; /* black-3 */
    }







    /* introduction */
    .introduction {
        grid-column: 1 / 13;
        grid-row: 3 / 4;
        display: flex;
        flex-direction: column;
    }

    .introduction > * + * { margin-top: 64px;}



    /* research */
    .research {
        grid-column: 1 / 13;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 24px;
    }
    .research .one {
        grid-column: 1 / 13;
        max-width: 852px;
        margin: 96px auto 96px auto;
    }
    .research .one > * + * { margin-top: 64px;}
    .research h5 {
        margin: 0px 0px 16px 0px;
    }
    .research img {
        margin: 24px 0px 0px 0px;
        border-radius: 10px;
    }








    /* design */
    .design {
        grid-column: 1 / 13;
    }
    .design > * + * { margin-top: 64px;}
    .design .two {
        display: flex;
        flex-direction: row;
    }
    .design .one .two > * + * { margin-left: 24px;}
    .design .two img {
        min-width: 0
    }
    .design .seven {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .design .four .six .seven > * + * { margin-left: 80px;}
    .design .seven img {
        min-width: 40%;
    }
    .design .eight {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .design .four .six .eight > * + * { margin-right: 80px;}
    .design .eight img {
        order: -1;
        min-width: 25%;
    }
    .design .nine {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .design .four .six .nine > * + * { margin-left: 80px;}
    .design .nine img {
        min-width: 40%;
    }





    /* conclusion */
    .conclusion {
        grid-column: 1 / 13;
    }
    .conclusion .one {
        max-width: 852px;
        margin: 96px auto 96px auto;
    }
    .conclusion .one > * + * { margin-top: 64px;}





    /* other case studies */
    .other {
        grid-column: 1 / 13;
    }
    .other > * + * { margin-top: 40px;}
    .other .one > * + * { margin-left: 96px;}
    .other .one a {
        font-size: 32px;
        line-height: 32px; /* identical to box height */
    }














}