/* all devices */


/* font rules  */
@font-face {
    font-family: 'Canela';
    src: url('fonts/Canela-Medium.eot');
    src: url('fonts/Canela-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Canela-Medium.woff2') format('woff2'),
        url('fonts/Canela-Medium.woff') format('woff'),
        url('fonts/Canela-Medium.ttf') format('truetype'),
        url('fonts/Canela-Medium.svg#Canela-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Calibre';
    src: url('fonts/Calibre-Regular.eot');
    src: url('fonts/Calibre-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Calibre-Regular.woff2') format('woff2'),
        url('fonts/Calibre-Regular.woff') format('woff'),
        url('fonts/Calibre-Regular.ttf') format('truetype'),
        url('fonts/Calibre-Regular.svg#Calibre-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Calibre';
    src: url('fonts/Calibre-Medium.eot');
    src: url('fonts/Calibre-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Calibre-Medium.woff2') format('woff2'),
        url('fonts/Calibre-Medium.woff') format('woff'),
        url('fonts/Calibre-Medium.ttf') format('truetype'),
        url('fonts/Calibre-Medium.svg#Calibre-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.eot');
    src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-Regular.woff2') format('woff2'),
        url('fonts/Lato-Regular.woff') format('woff'),
        url('fonts/Lato-Regular.ttf') format('truetype'),
        url('fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* background color */
body {
    background: #F9F9F9;
}


/* I’m Dylan, a self-taught product and systems designer */
h1 {
    font-family: Canela, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px; /* or 130% */
    color: #1A2A33; /* black-4 */
    margin-top: 16px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}


/* section titles */
h5 {
    font-family: Calibre, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: uppercase; /* black-1 */
    color: #A3A9AD;
    margin-top: 0px;
    margin-bottom: 16px;
}

mark {
    background-color: #F6F2AF !important;
    color: #3b4950 !important;
}


/* logo */
#logo {
    width: 50px;
    height: 50px;
}


/* RESUME & CONTACT */
.shortcut {
    font-family: Calibre, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    text-transform: uppercase; /* black-3 */
    color: #3B4950;
    transition: all 0.5s ease-out;
}
/* remove link underline for RESUME & CONTACT */
.shortcut:link {
    text-decoration: none;
}
.shortcut:visited {
    text-decoration: none;
}
.shortcut:hover {
    text-decoration: none;
}
.shortcut:active {
    text-decoration: none;
}



/* full portrait photo within smaller div */
#portrait {
    grid-column: 1 / 5;
    position: relative;
    width: 100%;
    padding-top: 113%;
}
#portrait img {
    width: 132%;
    position: absolute;
    top: -7%;
    left: -13%;
    -webkit-mask-image: linear-gradient(to top, rgba(249, 249, 249, 0.00) 0%, rgba(249, 249, 249, 100%) 34.9%, rgba(249, 249, 249, 100%) 100%);
}

/* bio */
#bio {    
    font-family: Calibre, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px; /* or 150% */
    color: #3B4950; /* black-3 */
    margin-top: 24px;
    margin-bottom: 0px;
}


/* wildlife photo */
#wildlife-photo {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 100%;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}
#wildlife-photo img {
    position: absolute;
    height: 100%;
    top: 0;
    left: -20%;
    transition: all 0.5s ease-out;
    border-radius: 10px;
}

/* globetrotting photo */
#globetrotting-photo {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 100%;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}
#globetrotting-photo img {
    position: absolute;
    height: 100%;
    top: 0;
    left: -20%;
    transition: all 0.5s ease-out;
}


/* learning photo */
#learning-photo {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 100%;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}
#learning-photo img {
    position: absolute;
    height: 100%;
    top: 0;
    left: -18%;
    transition: all 0.5s ease-out;
}


h3 {
    font-family: Canela, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px; /* identical to box height */
    color: #1A2A33; /* black-4 */
}

#interests p {
    font-family: Calibre, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px; /* or 150% */
    color: #3B4950; /* black-3 */
}


/* product page */
#product-page {
    width: 100%;
    height: 407px;
    background: linear-gradient(180deg, #DFE5F1 0%, #E6F1F2 100%);
    border-radius: 10px;
}
/* #product-page img {
    width: 27%;
    height: auto;
    border-radius: 2px;
    transition: all 0.5s ease-out;
    object-fit: contain;
} */
#product-page #video {
    width: 100%;
    overflow: hidden;
}
#video-product-page {
    position: relative;
    left: -58%;
    top: 15px;
    height: 408px;
}


/* ab testing */
#ab-testing {
    width: 100%;
    height: 407px;
    background: linear-gradient(180deg, #E0F1E0 0%, #F2F1E6 100%);
    border-radius: 10px;
}
/* #ab-testing img {
    width: 274px;
    height: 235px;
    border-radius: 2px;
    transition: all 0.5s ease-out;
    object-fit: contain;
} */
#ab-testing #video {
    width: 100%;
    overflow: hidden;
}
#video-ab-testing {
    position: relative;
    left: -17%;
    top: 2px;
    height: 250px;
}


/* analytic editor */
#analytic-editor {
    width: 100%;
    height: 407px;
    background: linear-gradient(180deg, #EBE6F2 0%, #E6EEF2 100%);
    border-radius: 10px;
}
#analytic-editor img {
    width: 75%;
    border-radius: 2px;
    transition: all 0.5s ease-out;
    object-fit: contain;
}


/* govini design system */
#govini-design-system {
    width: 100%;
    height: 407px;
    background: linear-gradient(180deg, #F2EAE6 0%, #F2E6EB 100%);
    border-radius: 10px;
}
#govini-design-system img {
    width: 274px;
    height: 235px;
    border-radius: 2px;
    transition: all 0.5s ease-out;
    object-fit: contain;
}


#product-page svg, #ab-testing svg, #analytic-editor svg, #govini-design-system svg {
    margin-bottom: 16px;
}


/* remove link underline for case studies */
#case-studies a:link {
    text-decoration: none;
}
#case-studies a:visited {
text-decoration: none;
}
#case-studies a:hover {
text-decoration: none;
}
#case-studies a:active {
text-decoration: none;
}



h2 {
    font-family: Canela, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36.4px; /* 130% */
    color: #1A2A33; /* black-4 */
}


#case-studies p {
    font-family: Calibre, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px; /* or 150% */
    color: #3B4950; /* black-3 */
}


/* footer divider */
footer hr {
    border: 1px solid #E8E9EA;
}


/* social media icons */
footer svg {
    fill: #3B4950; /* black-3 */
    transition: all 0.5s ease-out;
}


/* Designed & coded by Dylan McAdam © 2021 */
h6 {
    font-family: Calibre, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px; /* identical to box height */
    text-align: right;
    color: #3B4950; /* black-3 */
}


/* layout */

/* css grid */
.grid-container {
    display: grid;
    max-width: 100%;
    margin: 16px 5% 32px 5%;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
}


/* centering the shortcuts with the logo */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 5;
}

/* spacing the shortcuts */
.shortcut {
    margin-left: 32px;
}

/* blurb spacing */
#blurb {
    grid-column: 1 / 5;
    margin-top: 64px;
    margin-bottom: 0px;
}

#blurb h5 {
    margin-bottom: -10px;
}

/* INTERESTS spacing */
#interests {
    display: none;
    grid-column: 1 / 5;
    margin-top: 48px;
    margin-bottom: 0px;
}
#wildlife-photo {
    margin-top: 0px;
    margin-bottom: 0px;
}
#globetrotting-photo {
    margin-top: 48px;
    margin-bottom: 0px;
}
#learning-photo {
    margin-top: 48px;
    margin-bottom: 0px;
}
#interests h3 {
    margin-top: 24px;
    margin-bottom: 0px;
}
#interests p {
    margin-top: 8px;
    margin-bottom: 0px;
}


/* CASE STUDIES spacing */
#case-studies {
    grid-column: 1 / 5;
    margin-top: 64px;
    margin-bottom: 0px;
}
#product-page {
    margin-top: 0px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}
#product-page img {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 24px;
    width: 110px;
}
#product-page .copy {
    margin-top: 48px;
    margin-left: 7.5%;
}
#product-page h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}
#product-page p {
    margin-top: 8px;
    margin-bottom: 0px;
}
#ab-testing {
    margin-top: 0px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}
#ab-testing img {
    align-self: center;
    margin-top: 8px;
    margin-bottom: 16px;
    left: 5px;
    position: relative;
}
#ab-testing .copy {
    margin-top: 48px;
    margin-left: 7.5%;
}
#ab-testing h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 7.5%;
}
#ab-testing p {
    margin-top: 8px;
    margin-bottom: 0px;
}
#analytic-editor {
    margin-top: 0px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}
#analytic-editor img {
    align-self: center;
    margin-top: 40px;
    margin-bottom: 76px;
}
#analytic-editor .copy {
    margin-top: 48px;
    margin-left: 7.5%;
}
#analytic-editor h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}
#analytic-editor p {
    margin-top: 8px;
    margin-bottom: 0px;
}
#govini-design-system {
    margin-top: 0px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}
#govini-design-system img {
    align-self: center;
    margin-top: 8px;
    margin-bottom: 50px;
}
#govini-design-system .copy {
    margin-top: 48px;
    margin-left: 7.5%;
}
#govini-design-system h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 7.5%;
}
#govini-design-system p {
    margin-top: 8px;
    margin-bottom: 0px;
}


/* footer spacing */
footer {
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 0px;
    height: 108px;
}
footer hr {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 32px;
}
#linkedin {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}
#twitter {
    width: 32px;
    height: 32px;
    margin-left: 16px;
}
footer nav {
    display: flex;
    justify-content: center;
}
footer h6 {
    margin-top: 32px;
    margin-bottom: 0px;
}


/* remove link underline for icons */
footer a:link {
    text-decoration: none;
}
footer a:link {
    text-decoration: none;
}
footer a:link {
    text-decoration: none;
}
footer a:link {
    text-decoration: none;
}


/* animations */

/* linkedin & twitter icons get dark on hover */
footer svg:hover {
    opacity: 0.5;
    transition: all 0.5s ease-out;
    backface-visibility: hidden;
  }

/* resume & contact get dark on hover */
.shortcut:hover {
    opacity: 0.5;
    transition: all 0.5s ease-out;
}


/* case study cards change color on hover */
#product-page:hover h2 {
    color: #1258BB;;
}
#ab-testing:hover h2 {
    color: #286B08;
}
#analytic-editor:hover h2 {
    color: #6A468D;
}
#govini-design-system:hover h2 {
    color: #BF4F16;
}


/* case study card content grows on hover */
#product-page:hover .copy {
    transform: scale(1.02);
    transition: all 0.5s ease-out;
}
#product-page:hover img {
    transform: scale(1.02);
    transition: all 0.5s ease-out;
}
#ab-testing:hover .copy {
    transform: scale(1.02);
    transition: all 0.5s ease-out;
}
#ab-testing:hover img {
    transform: scale(1.02);
    transition: all 0.5s ease-out;
}
#analytic-editor:hover .copy {
    transform: scale(1.02);
    transition: all 0.5s ease-out;
}
#analytic-editor:hover img {
    transform: scale(1.02);
    transition: all 0.5s ease-out;
}
#govini-design-system:hover .copy {
    transform: scale(1.02);
    transition: all 0.5s ease-out;
}
#govini-design-system:hover img {
    transform: scale(1.02);
    transition: all 0.5s ease-out;
}




/* modal background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: disabled; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* modal content */
.modal-content {
    background-color: #F9F9F9;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 32px 32px 32px 32px;
    width: 274.5px; /* Could be more or less, depending on screen size */
    border-radius: 4px;
    position: relative;
}

/* close button */
.close, .close2, .close3, .close4 {
    color: #aaa;
    font-size: 28px;
    position: absolute;
    top: 4px;
    right: 12px;
}

.close:hover, .close:focus, .close2:hover, .close2:focus, .close3:hover, .close3:focus, .close4:hover, .close4:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content .password, .modal-content .password2, .modal-content .password3, .modal-content .password4 {
    width: 100%;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #3B4950; /* black-3 */
}

.modal-content .password::placeholder, .modal-content .password2::placeholder, modal-content .password3::placeholder, modal-content .password4::placeholder {
    color: #A3A9AD; /* black-1 */
}

.modal-content .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0px 20px 0px;
}

.modal .modal-content .title > * + * { margin-left: 12px;}

.modal-content .title p {
    font-family: Canela, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px; /* identical to box height */
    color: #1A2A33; /* black-4 */
    margin: 6px 0px 0px 0px;
}

.error {
    border-color: #CD2622;
}

input {
    padding: 0.6rem;
    border-radius: 0.25rem;
    border: 1px solid #dadadd;
    background-color: #ffffff;
    transition: 0.6s;
}

.modal-content svg {
    width: 20px;
    height: auto;
}


/* unvisited link */
p a:link {
    color: #005ea2;
}

/* visited link */
p a:visited {
    color: #54278f;
}

/* mouse over link */
p a:hover {
    color: #1a4480;
}
  
/* selected link */
p a:active {
    color: #162e51;
}


/* interest images grow on hover */
#wildlife-photo img:hover {
    transform: scale(1.02);
    transition: all 0.5s ease-out;
}
#globetrotting-photo img:hover {
    transform: scale(1.02);
    transition: all 0.5s ease-out;
}
#learning-photo img:hover {
    transform: scale(1.02);
    transition: all 0.5s ease-out;
}



.learn-more {
    font-family: Calibre, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    transition: all 0.5s ease-out;
    grid-column: 1 / 3;
    position: relative;
    top: -1px;
    white-space: nowrap;
    text-decoration: underline;
    /* margin-left: 4px; */
}


.float1 {
    animation: float 4s infinite ease-in-out;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .float2 {
    animation: float 4s infinite ease-in-out;
    animation-delay: 2s;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }






/* styles for tablet (600px-899px) */
@media (min-width: 600px) {

    /* css grid */
    .grid-container {
        display: grid;
        max-width: 100%;
        margin: 16px 2.66% 40px 2.66%;
        grid-template-columns: repeat(8, 1fr);
        column-gap: 5%;
    }


    /* fixing the column span on the child divs */
    header {
        display: flex;
        justify-content: space-between;
        grid-column: 1 / 9;
    }

    #blurb {
        display: grid;
        max-width: 100%;
        grid-template-columns: repeat(8, 1fr);
        column-gap: 16px;
        grid-column: 1 / 9;
        margin-top: 80px;
        margin-bottom: 0px;
    }

    #interests {
        grid-column: 1 / 9;
        margin-top: 48px;
        margin-bottom: 0px;
    }

    #case-studies {
        grid-column: 1 / 9;
        margin-top: 80px;
        margin-bottom: 0px;
    }

    footer {
        grid-column: 1 / 9;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 0px;
        height: 72px;
    }


    /* logo */
    #logo {
        width: 75px;
        height: 75px;
    }


    /* header layout and styling */
    .shortcut {
        font-size: 16px;
        line-height: 19px;
    }


    /* blurb layout and styling */
    #blurb h1 {    
        grid-column: 1 / 6;
        font-size: 34px;
        line-height: 44.2px; /* or 130% */
        margin-top: 0px;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
    }

    #blurb h5 {
        margin-bottom: -30px;
    }

    #portrait {
        grid-column: 6 / 9;
        overflow: visible;
        background: none;
    }

    #portrait img {
        width: 157%;
        top: -28%;
        left: -37%;
        -webkit-mask-image: linear-gradient(to top, rgba(249, 249, 249, 0.00) 0%, rgba(249, 249, 249, 100%) 34.9%, rgba(249, 249, 249, 100%) 100%);
    }

    #bio {
        grid-column: 1 / 9;
        font-size: 20px;
        line-height: 30px; /* or 150% */
        margin-top: 24px;
        margin-bottom: 0px;
    }



    /* interests layout and styling */
    #interests {
        display: none;
        max-width: 100%;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 16px;
    }
    #interests h3 {
        font-size: 22px;
        line-height: 22px; /* identical to box height */
    }
    #interests p {
        font-size: 20px;
        line-height: 30px; /* or 150% */
    }




    /* wildlife */
    #wildlife-photo {
        grid-column: 1 / 2;
        width: 100%;
        order: 1;
    }
    #wildlife-copy {
        grid-column: 1 / 2;
        order: 4;
    }


    /* globetrotting */
    #globetrotting-photo {
        grid-column: 2 / 3;
        width: 100%;
        margin-top: 0px;
        order: 2;
    }
    #globetrotting-copy {
        grid-column: 2 / 3;
        order: 5;
    }


    /* learning */
    #learning-photo {
        grid-column: 3 / 4;
        width: 100%;
        margin-top: 0px;
        order: 3;
    }
    #learning-copy {
        grid-column: 3 / 4;
        order: 6;
    }


    /* case studies layout and styling */
    #case-studies {
        margin-bottom: 0px;
    }
    h2 {
        font-size: 32px;
        line-height: 32px; /* identical to box height */
    }

    #product-page {
        display: flex;
        height: 272px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #product-page img {
        align-self: center;
        margin-top: 24px;
        margin-bottom: 24px;
        width: 126px;
        position: relative;
        left: -40px;
    }
    #product-page #video {
        width: 200px;
        overflow: hidden;
    }
    #video-product-page {
        position: relative;
        left: -64%;
        top: 15px;
        height: 250px;
    }
    #product-page .copy {
        margin-top: 0px;
        margin-left: 8%;
        transition: all 0.5s ease-out;
    }
    #product-page .copy h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0%;
        font-size: 32px;
        line-height: 32px; /* identical to box height */
    }
    #product-page .copy p {
        margin-left: 0%;
        font-size: 20px;
        line-height: 30px; /* or 150% */
    }

    #ab-testing {
        display: flex;
        height: 272px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #ab-testing img {
        margin-top: 16px;
        margin-bottom: 16px;
        left: 32px;
        width: 190px;
    }
    #ab-testing #video {
        width: 400px;
        overflow: hidden;
    }
    #video-ab-testing {
        position: relative;
        left: -13%;
        top: 0px;
        height: 200px;
    }
    #ab-testing .copy {
        margin-top: 0px;
        margin-right: 16%;
        order: 1;
        transition: all 0.5s ease-out;
    }
    #ab-testing .copy h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0%;
        font-size: 32px;
        line-height: 41.6px; /* 130% */
        margin-right: 0;
    }
    #ab-testing .copy p {
        margin-left: 0%;
        font-size: 20px;
        line-height: 30px; /* or 150% */
    }

    #analytic-editor {
        display: flex;
        height: 272px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #analytic-editor img {
        margin-right: 8%;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 40%;
    }
    #analytic-editor .copy {
        margin-top: 0px;
        margin-left: 8%;
        transition: all 0.5s ease-out;
    }
    #analytic-editor .copy h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0%;
        font-size: 32px;
        line-height: 32px; /* identical to box height */
    }
    #analytic-editor .copy p {
        margin-left: 0%;
        font-size: 20px;
        line-height: 30px; /* or 150% */
    }

    #govini-design-system {
        display: flex;
        height: 272px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #govini-design-system img {
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 0px;
        margin-bottom: 0px;
        transition: all 0.5s ease-out;
    }
    #govini-design-system .copy {
        margin-top: 0px;
        margin-right: 8%;
        order: 1;
        transition: all 0.5s ease-out;
    }
    #govini-design-system .copy h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0%;
        font-size: 32px;
        line-height: 41.6px; /* 130% */
        margin-right: 0;
    }
    #govini-design-system .copy p {
        margin-left: 0%;
        font-size: 20px;
        line-height: 30px; /* or 150% */
    }
    #product-page svg, #ab-testing svg, #analytic-editor svg, #govini-design-system svg {
        margin-bottom: 16px;
    }



    footer {
        grid-column: 1 / 13;
        margin-top: 96px;
        margin-bottom: 32px;
        height: 80px;
    }
    footer hr {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 48px;
    }


    /* footer styling and spacing */
    footer {
        grid-column: 1 / 9;
        margin-top: 80px;
        margin-bottom: 0px;
    }
    footer hr {
        width: 100%;
        margin-bottom: 40px;
    }
    footer nav {
        display: flex;
        align-items: center;
    }
    #linkedin {
        width: 32px;
        height: 32px;
        margin-right: 16px;
    }
    #twitter {
        width: 32px;
        height: 32px;
        margin-left: 16px;
    }
    footer div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    footer h6 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h6 {
        font-size: 16px;
    }



    /* modal content */
    .modal-content {
        width: 350px; /* Could be more or less, depending on screen size */
    }

    .modal-content .title {
        margin: 0px 0px 24px 0px;
    }

    .modal-content .password, .modal-content .password2, .modal-content .password3, .modal-content .password4 {
        font-size: 18px;
        line-height: 18px;
    }

    .modal-content .title p {
        font-size: 24px;
        line-height: 24px; /* identical to box height */
    }

    .modal-content svg {
        width: 24px;
        height: auto;
    }


    .learn-more {
        font-size: 20px;
        grid-column: 1 / 4;
    }


}




/* styles for desktop (900px - ) */
@media (min-width: 900px) {


    /* css grid */
    .grid-container {
        display: grid;
        max-width: 852px;
        margin: 24px auto 48px auto;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 24px;
    }



    /* fixing the column span on the child divs */
    header {
        display: flex;
        justify-content: space-between;
        grid-column: 1 / 13;
    }

    #blurb {
        display: grid;
        max-width: 100%;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 2.66%;
        grid-column: 1 / 13;
        margin-top: 96px;
        margin-bottom: 0px;
    }

    #interests {
        grid-column: 1 / 13;
        margin-top: 56px;
        margin-bottom: 0px;
    }

    #case-studies {
        grid-column: 1 / 13;
        margin-top: 96px;
        margin-bottom: 0px;
    }

    footer {
        grid-column: 1 / 13;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 96px;
        margin-bottom: 0px;
        height: 80px;
    }


    /* fix h5 styling */
    h5 {
        font-size: 18px;
        line-height: 27px;
    }

    /* header layout and styling */
    .shortcut {
        font-size: 16px;
        line-height: 19px;
    }


    /* blurb layout and styling */

    #blurb h1 {    
        grid-column: 1 / 9;
        font-size: 56px;
        line-height: 74.1px; /* or 130% */
        margin-top: 0px;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        margin-right: 8px;
    }

    #blurb h5 {
        margin-bottom: 0px;
    }

    #portrait {
        grid-column: 9 / 13;
    }

    #bio {
        grid-column: 1 / 13;
        font-size: 22px;
        line-height: 33px; /* or 150% */
        margin-top: 40px;
        margin-bottom: 0px;
    }


    /* interests layout and styling */
    #interests {
        display: none;
        max-width: 100%;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
    }
    #interests h3 {
        font-size: 32px;
        line-height: 32px; /* identical to box height */
        margin-top: 24px;
        margin-bottom: 0px;
    }
    #interests p {
        font-size: 22px;
        line-height: 33px; /* or 150% */
    }





    /* case studies layout and styling */
    #case-studies {
        margin-bottom: 0px;
    }

    #product-page {
        display: flex;
        height: 408px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }
    #product-page img {
        width: 185px;
        left: -95px;
    }
    #product-page #video {
        width: 340px;
        overflow: hidden;
    }
    #video-product-page {
        position: relative;
        left: -57%;
        top: 15px;
        height: 400px;
    }
    #product-page .copy {
        margin-left: 8.11%;
    }
    #product-page .copy h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        font-size: 45px;
        line-height: 45px; /* identical to box height */
    }
    #product-page .copy p {
        margin-left: 0%;
        margin-top: 16px;
        font-size: 22px;
        line-height: 33px; /* or 150% */
    }

    #ab-testing {
        display: flex;
        height: 408px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }
    #ab-testing img {
        left: 61px;
        width: 400px;
        height: auto;
    }
    #ab-testing #video {
        width: 415px;
        overflow: hidden;
    }
    #video-ab-testing {
        position: relative;
        left: -21%;
        top: 0px;
        height: 350px;
    }
    #ab-testing .copy {
        margin-right: 13.78%;
        order: 1;
    }
    #ab-testing .copy h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0%;
        font-size: 45px;
        line-height: 45px; /* identical to box height */
    }
    #ab-testing .copy p {
        margin-left: 0px;
        margin-top: 16px;
        font-size: 22px;
        line-height: 33px; /* identical to box height, or 150% */
    }

    #analytic-editor {
        display: flex;
        height: 408px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }
    #analytic-editor img {
        margin-right: 8.11%;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 330px;
        height: auto;
    }
    #analytic-editor .copy {
        margin-left: 8.11%;
    }
    #analytic-editor .copy h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        font-size: 45px;
        line-height: 45px; /* identical to box height */
    }
    #analytic-editor .copy p {
        margin-left: 0%;
        margin-top: 16px;
        font-size: 22px;
        line-height: 33px; /* or 150% */
    }

    #govini-design-system {
        display: flex;
        height: 408px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }
    #govini-design-system img {
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 342px;
        height: auto;
    }
    #govini-design-system .copy {
        margin-right: 8.11%;
        order: 1;
    }
    #govini-design-system .copy h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0%;
        font-size: 45px;
        line-height: 45px; /* identical to box height */
    }
    #govini-design-system .copy p {
        margin-left: 0px;
        margin-top: 16px;
        font-size: 22px;
        line-height: 33px; /* identical to box height, or 150% */
    }

    #product-page svg, #ab-testing svg, #analytic-editor svg, #govini-design-system svg {
        margin-bottom: 24px;
    }

   

    /* footer styling and spacing */
    footer hr {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 48px;
    }


    h6 {
        font-size: 18px;
    }




    .learn-more {
        font-size: 22px;
        grid-column: 1 / 4;
    }



}